<div class="section">
  <div class="container is-flex is-flex-direction-column is-justify-content-space-around">
    <header class="section_header">
          <h1 data-text="Contact Me" class="title is-1 has-text-highlight-2">Contact Me</h1>
    </header>
    <div class="columns is-centered">
      <div class="column is-half">
        <%= render 'mail_form' %>
      </div>
    </div>
  </div>
</div>
