<div class="section">
  <div class="container is-flex is-flex-direction-column is-justify-content-space-around">
    <div class="columns is-centered form-div">
      <div class="column is-half">
        <header class="form-header">
          <h1 data-text="Let's Talk" class="title is-1 has-text-highlight-2">Let's Talk</h1>
        </header>
        <%= render 'mail_form' %>
      </div>
    </div>
  </div>
</div>
