<section id="about" class="section">
  <div class="container is-flex is-flex-direction-column is-justify-content-space-around">
    <header class="section_header mb-5">
      <div class="title">
        <h1 data-text="More about me?" class="has-text-highlight-2 title is-1">More about me?</h1>  
      </div>
    </header>
    <div class="about_body columns is-vcentered">
      <div class="column is-one-third">
        <%= image_tag("/assets/ian-about-image.png", alt: "Ian Withers jauntily leaning back in a duochrome style reminiscent of Andy Warhol", class: " is-square") %>
      </div>
      <div class="body_text column is-two-thirds">
        <p class="is-size-4">When I'm not coding, I'm probably prepping for the next D&D session where I act as a Dungeon Master&mdash; perfect practice for problem solving on the fly. I also enjoy traveling with my wife and spending time with my three dogs.</p>
      </div>
    </div>
    <nav class="level is-centered">
      <a target="_blank" class="title is-3  is-underlined about-links level-item" href="https://www.linkedin.com/in/ian-neugent-withers/">LinkedIn</a>
      <a target="_blank" id="last-level" class="title is-3  is-underlined about-links level-item" href="https://github.com/Mr-Bowtie">Github</a>
    </nav>
  </div>
</section>
