<section id="home" class="section">

  <div class="hero is-large">
    <div id="hero-background content">
      <div class="hero-body">
        <div class="columns is-centered">
          <div id="hero-text-container" class="column is-half has-background-charcoal">
            <div class="title is-2 has-text-highlight-2 has-text-centered">
              <p data-text="I Am a Ruby Developer who does cool stuff. Hire me."id='hero-text'>I Am a Ruby Developer who does cool stuff. Hire me.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section id="about" class="section">
  <div class="container is-flex is-flex-direction-column is-justify-content-space-around">
    <header class="section_header mb-5">
      <div class="title">
        <h1 data-text="More about me?" class="has-text-highlight-2 title is-1">More about me?</h1>  
      </div>
    </header>
    <div class="about_body columns is-vcentered">
      <div class="column is-one-third">
        <%= image_tag("/assets/ian-about-image.png", alt: "Ian Withers jauntily leaning back in a duochrome style reminiscent of Andy Warhol", class: " is-square") %>
      </div>
      <div class="body_text column is-two-thirds">
        <p class="is-size-4">When I'm not coding, I'm probably prepping for the next D&D session where I act as a Dungeon Master&mdash; perfect practice for problem solving on the fly. I also enjoy traveling with my wife and spending time with my three dogs.</p>
      </div>
    </div>
    <nav class="level is-centered">
      <a class="title is-3 has-text-cyan is-underlined about-links level-item" href="#">Resume</a>
      <a class="title is-3 has-text-cyan is-underlined about-links level-item" href="#">LinkedIn</a>
      <a id="last-level" class="title is-3 has-text-cyan is-underlined about-links level-item" href="#">Github</a>
      <%# <a class="title is-3 has-text-cyan is-underlined about-links level-item" href="#">Twitter</a> %>
    </nav>
  </div>
</section>

<section id="portfolio" class="section">
  <div class='container is-flex is-flex-direction-column is-justify-content-space-around'>
    <header class="section_header">
      <div class="title">
        <h1 data-text="My Skills" class="has-text-highlight-2 title is-1">My Skills </h1>
      </div>
    </header>
    <div class="portfolio_body">
      <div class="skill_list">
        <h2 class='title is-3 has-text-highlight-2' id='skills'>Ruby - Rails - Javascript - HTML5 - CSS</h2>
      </div>
      <div class="columns is-multiline">
        <div class="column is-half">
          <div class="columns is-vcentered">
            <div class="column">
              <img class="image is-3by2" src="" alt="a project">
            </div>
            <div class="column">
              <h3 class="title is-4 has-text-highlight-1">Event Palace</h3>
              <p class='description'>About the project...</p>
            </div>
          </div>
        </div>
        <div class="column is-half">
          <div class="columns is-vcentered">
            <div class='column'>
              <img class="image is-3by2" src="" alt="a project">
            </div>
            <div class='column'>
              <h3 class="title is-4 has-text-highlight-1">Mastermind</h3>
              <p class='description'>About the project...</p>
            </div>
          </div>
        </div>
        <div class="column is-half">
          <div class="columns is-vcentered">
            <div class='column'>
              <img class="image is-3by2" src="" alt="a project">
            </div>
            <div class='column'>
              <h3 class="title is-4 has-text-highlight-1">Etch-A-Sketch</h3>
              <p class='description'>About the project...</p>
            </div>
          </div>
        </div>
        <div class="column is-half">
          <div class='columns is-vcentered'>
            <div class='column'>
              <img class="image is-3by2" src="" alt="a project">
            </div>
            <div class='column'>
              <h3 class="title is-4 has-text-highlight-1"></h3>
              <p class='description'>About the project...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
