<section class='home section'>
  <header class="mb-5">
    <nav class="navbar is-charcoal">
      <div class="navbar-brand">
        <div>
          <h1 class="title is-1">Ian Withers</h1>
          <h2 class="subtitle">Ruby Developer</h2>
        </div>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nav-buttons">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu has-background-charcoal" id="nav-buttons">
        <div class="navbar-end">
          <a href="" class="navbar-item has-text-cyan">Home</a>
          <a href="" class="navbar-item has-text-cyan">About</a>
          <a href="" class="navbar-item has-text-cyan">Portfolio</a>
          <a href="" class="navbar-item has-text-cyan">Contact</a>

        </div> 
      </div>
    </nav>
  </header>

  <div class="hero is-large has-background-soft-pink">
    <div id="hero-background">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-half is-offset-half ">
            <div class="hero_text title is-2 has-text-charcoal has-text-centered">
              <p>I Am a Ruby Developer who does cool stuff. Hire me.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="about">
  <header class="section_header"
    <div class="title">
      <h1>More about me?</h1>  
    </div>
  </header>
  <div class="about_body">
    <div>
      <img class="personal_photo" src="" alt="Ian Withers jauntily leaning back in a duochrome style reminiscent of Andy Warhol">
    </div>
    <div class="body_text">
      <p>When I'm not coding, I'm probably prepping for the next D&D session where I act as a Dungeon Master&mdash; perfect practice for problem solving on the fly. I also enjoy traveling with my wife and spending time with my three dogs.</p>
    </div>
  </div>
  <footer>
    <a class="about-links" href="#">Resume</a>
    <a class="about-links" href="#">LinkedIn</a>
    <a class="about-links" href="#">Github</a>
    <a class="about-links" href="#">Twitter</a>
  </footer>
</section>

<section class="portfolio">
  <header class="section_header">
    <div class="title">
      <h1>My Skills </h1>
    </div>
  </header>
  <div class="portfolio_body">
    <div class="skill_list">
      <p>Ruby - Rails - Javascript - HTML5 - CSS</p>
    </div>
    <div class="gallery">
      <div class="project">
        <img class="project_image" src="" alt="a project">
        <p class='description'>About the project...</p>
      </div>
      <div class="project">
        <img class="project_image" src="" alt="a project">
        <p class='description'>About the project...</p>
      </div>
      <div class="project">
        <img class="project_image" src="" alt="a project">
        <p class='description'>About the project...</p>
      </div>
      <div class="project">
        <img class="project_image" src="" alt="a project">
        <p class='description'>About the project...</p>
      </div>
    </div>
  </div>
</section>

<section class="contact"> 
  <header class="section_header">
    <div class="title">
      <h1>Contact Me</h1>
      <%# put in form  %>
    </div>
  </header>
</section>


