<section id="home" class="section">

  <div class="hero">
    <div class="hero-body is-flex is-align-items-center is-justify-content-center">
      <div class="columns is-centered">
        <div class="central-content-border column is-half has-background-charcoal">
          <div class="title is-2 has-text-highlight-2 has-text-centered">
            <p data-text="I Am a Ruby Developer who wants to solve your toughest web development problems." class='hero-text'>I Am a Ruby Developer who wants to solve your toughest web development problems.
            </p>
            <%= link_to new_contact_path do %>
              <p class="hero-text hero-link" data-text="Hire me.">Hire me.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
