<section id="portfolio" class="section">
  <div class='container is-flex is-flex-direction-column is-justify-content-center'>
    <header class="section_header">
      <div class="title">
        <h1 data-text="My Skills" class="has-text-highlight-2 title is-1">My Skills </h1>
      </div>
    </header>
    <div class="portfolio_body">
      <div class="skill_list">
        <h2 class='title is-3 has-text-highlight-2' id='skills'>Ruby - Rails - Javascript - HTML5 - CSS</h2>
      </div>
      <div class="columns is-multiline">
        <div class="column is-half">
          <div class="columns is-vcentered">
            <div class="column">
              <img class="image" src="/assets/event_palace_screenshot.png" alt="a project">
            </div>
            <div class="column">
              <h3 class="title is-4 has-text-highlight-1">Event Palace</h3>
              <a href="https://event-palace.fly.dev/" class="is-underlined" target="_blank">Visit site</a>
              <p class='description'>An event management web app built with Ruby on Rails</p>
            </div>
          </div>
        </div>
        <div class="column is-half">
          <div class="columns is-vcentered">
            <div class='column'>
              <img class="image" src="assets/mastermind_screenshot.png" alt="a project">
            </div>
            <div class='column'>
              <h3 class="title is-4 has-text-highlight-1">Mastermind</h3>
              <a href="https://replit.com/@MrBowtie/mastermind#.replit" target="_blank" class="is-underlined mr-4">Live Demo</a>
              <a href="https://github.com/Mr-Bowtie/mastermind" target="_blank" class="is-underlined">Github</a>
              <p class='description'>A Command-Line version of the game Mastermind written in pure Ruby</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

