@font-face {
    font-family: "Explode";
    src: url("/assets/explode-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Explode-Shadow";
    src: url("/assets/explode-shadow-webfont.woff") format("woff");
}

$family-sans-serif: "Explode", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$cyan: #47daff;
$highlight-1: #ffda47;
$highlight-2: #ff4791;
$charcoal: #494c5c;
$offwhite: #f2efeb;
$soft-pink: #faadf3;
$soft-pink-invert: findColorInvert($soft-pink);
$offwhite-invert: findColorInvert($offwhite);
$cyan-invert: findColorInvert($cyan);
$highlight-1-invert: findColorInvert($highlight-1);
$highlight-2-invert: findColorInvert($highlight-2);
$charcoal-invert: findColorInvert($charcoal);
$custom-colors: ("cyan": ($cyan, $cyan-invert), "highlight-1": ($highlight-1, $highlight-1-invert), "highlight-2": ($highlight-2, $highlight-2-invert), "charcoal": ($charcoal, $charcoal-invert), "offwhite": ($offwhite, $offwhite), "soft-pink": ($soft-pink, $soft-pink-invert));
$text: $offwhite;
$link: $cyan;
$link-hover: $highlight-1;

@import "bulma";

h1::after {
    text-shadow: none;
    font-family: "Explode"; 
    color: $highlight-1;
    content: attr(data-text);
    position: absolute;
    top: -0.05em;
    left: 0;
    text-shadow: -1px 1px 0 $charcoal, 1px 1px 0 $charcoal, 1px -1px 0 $charcoal, -1px -1px 0 $charcoal;
}



h1 {
    font-family: "Explode-Shadow";
    position: relative;
}

body {
    background: #494c5c;
    min-height: 100vh;
}

.navbar {
    border-bottom: 1px solid $offwhite;
}

.section {
    min-height: 70vh;
    padding-top: 7rem;
}

.container {
    min-height: inherit;
}

.title.is-1 {
    @include mobile {
        font-size: 2.5rem;
    }
}

// .about_body {
//     margin: auto 0px;
// }

.level-item {
    text-decoration: underline;
}

#about-container {
    @include tablet {
        padding-top: 9em;

    }

}

.title {
    color: $cyan
}

#last-level {
    margin-bottom: 1.5rem;
}

#home {
    padding: 6em 0rem;
    @include mobile {
        margin-top: 4em;
    }
}

.hero-text {
    font-family: "Explode-Shadow";
    position: relative;

}

.hero-text::after {
    text-shadow: none;
    font-family: "Explode"; 
    color: $offwhite;
    content: attr(data-text);
    position: absolute;
    top: -0.05em;
    left: -0.03em;
    text-shadow: -1px 1px 0 $charcoal, 1px 1px 0 $charcoal, 1px -1px 0 $charcoal, -1px -1px 0 $charcoal;
    width: 100%;
}

.hidden {
    display: none;
}

.input { 
    border: none;
}


#hero-text-container {
    border: 0.75rem solid $offwhite;
}

#hero-background {
    // background-image: linear-gradient(to bottom right, #e095d6, #ffc5ff)
}

.hero-body {
    background-image: url("/assets/geometric-background.png");
    background-size: contain;
    @include tablet {
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: 50% 60%;

    }
}

.notification {
    padding-top: 7rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;

}

h2 { 
    text-align: center;
}

#skills {
    margin: 2em 0em;

}

.input, .textarea {
    font-family: sans-serif
}

.error { 
    color: $highlight-2;
}

// p {
//     color: #f2efeb;
// }
