$cyan: #47daff;
$highlight-1: #ffda47;
$highlight-2: #ff4791;
$charcoal: #494c5c;
$offwhite: #f2efeb;
$soft-pink: #faadf3;
$soft-pink-invert: findColorInvert($soft-pink);
$offwhite-invert: findColorInvert($offwhite);
$cyan-invert: findColorInvert($cyan);
$highlight-1-invert: findColorInvert($highlight-1);
$highlight-2-invert: findColorInvert($highlight-2);
$charcoal-invert: findColorInvert($charcoal);
$custom-colors: ("cyan": ($cyan, $cyan-invert), "highlight-1": ($highlight-1, $highlight-1-invert), "highlight-2": ($highlight-2, $highlight-2-invert), "charcoal": ($charcoal, $charcoal-invert), "offwhite": ($offwhite, $offwhite), "soft-pink": ($soft-pink, $soft-pink-invert));
$text: $offwhite;

@import "bulma";

body {
    background: #494c5c;
}

.section {
    min-height: 75vh;
    padding-top: 6em;
}

.container {
    min-height: inherit;
}

// .about_body {
//     margin: auto 0px;
// }

.level-item {
    text-decoration: underline;
}

#about-container {
    @include tablet {
        padding-top: 9em;

    }

}

#home {
    @include mobile {
        margin-top: 4em;
    }
}

#hero-background {
    background-image: linear-gradient(to bottom right, #e095d6, #ffc5ff)
}

.hero-body {
    @include tablet {
        background-image: url("/assets/ruby.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 60%;

    }
}

// p {
//     color: #f2efeb;
// }
