<section class="section"><div class="container">
  <header>
    <div class="title">
      <h1 data-text="New blog post" class="has-text-highlight-2 title is-1">New blog post</h1>
    </div>
  </header>

  <%= render "form", blog_post: @blog_post %>

  <br>

  <div>
    <%= link_to "Back to admin", admin_blog_posts_path %>
  </div>
</div></section>
